:root {
  --primary: #343539;
  --secondary: rgba(52, 53, 57, 0.59);
  --teks: rgba(52, 53, 57, 1);
  --teksAbu: rgba(52, 53, 57, 0.55);
  --greenBg: rgba(76, 222, 126, 1);
  --redBg: rgba(205, 77, 77, 1);
}

.teks-primary {
  color: var(--primary);
  font-family: 'Montserrat', sans-serif;
}

.teks-second {
  color: var(--secondary);
  font-family: 'Open Sans', sans-serif;
}


.title {
  font-size: 30px;
  font-weight: 600;
}

.subteks {
  font-size: 17px;
  line-height: 25px;
}

.label-teks {
  color: var(--teks);
  font-size: 15px;
}

.btn-tambah {
  background-color: var(--greenBg);
  border-color: var(--greenBg);
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-tambah span {
  margin-left: 5px;
}


.btn-tambah:hover span img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(320deg) brightness(103%) contrast(101%);
}

.btn-hapus {
  margin-top: 10px;
  border-radius: 8px;
}
 

.subtitle {
  font-weight: 600;
}


#all-notes {
  margin-top: 18px;
}

#all-notes .title-note {
  font-size: 19px;
  font-weight: 600;
}

#all-notes .label {
  font-size: 15px;
}